* {
    margin: 0;
}

body {
    background-color: slategrey;
}

.navbar {
    background-color: silver;
    padding: 1vh;
    margin-bottom: 3vh;
}

nav {
    padding: 5vh 3vw 3vh;
}


.tablink {
    background-color: firebrick;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 15px;
    padding: 2vh 5vw;
    transition-duration: 200ms;
}

.tablink:hover {
    cursor: pointer;
    transition-duration: 200ms;
    background-color: whitesmoke;
    color: firebrick;
    outline: 3px firebrick solid;
}

.tablink:focus {
    transition-duration: 200ms;
    background-color: whitesmoke;
    color: firebrick;
    outline: 3px firebrick solid;
}

#title {
    margin: 10vh 0vw;
    font-size: 80px;
    color: firebrick;
}

div.content {
    text-align: left;
    width: 80%;
    padding-left: 10%;
    line-height: 3ch;
}

